* {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

#conteudo {
    
}

.restauranteInfo {
    background-color: lightsteelblue;
    border: thin solid steelblue;
    width: calc(100% - 22px);
    padding: 10px;
    margin: 0px 0px 4px 0px;
    display:block;
    cursor:pointer;
    -webkit-transition: all 0.7s; /* Safari */
    transition: all 0.7s;
}
.restauranteInfo:hover {
    -moz-box-shadow:    inset 0 0 15px 3px steelblue;
   -webkit-box-shadow:  inset 0 0 15px 3px steelblue;
   box-shadow:          inset 0 0 15px 3px steelblue;
}
.restauranteInfo input[type=radio] {
    display: none;
}

form#restaurantes {
    display: none;
}
form#restaurantes input[type=button] {
    width: 100%;
    margin: 4px 0px;
    padding: 4px;
}
#listaRestaurantes {
    max-height: 388px;
    overflow-y: scroll;
}

#titulo {
    background-color: rgba(235,255,235,0.9);
    color: #228B22;
    border-bottom: thin solid #228B22;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    width:100%;
    position: fixed;
    text-align: center;
    z-index: 10;
}

#rodape {
    background-color: #EEFFEE;
    color: #228B22;
    border-top: thin solid #228B22;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 10px 0px;
}

#googleMap {
    width:700px;
    height:500px;
    border: thin solid grey;
    margin-right: 1px;
}

#mensagem {
    display: none;
    background-color: #fcc;
    margin-top: 5px;
    padding:10px;
    border:thin solid #daa;
}

body, form {
    margin: 0px;
}
body {
    background: #eee;
}
div#corpo {
    width:100%;
}
div#corpo > table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    width:1000px;
    background: white;
}
div#corpo > table td {
    vertical-align: top;
}
.rotulo {
    text-align: center;
    padding: 4px;
    font-weight: bold;
}

input[type=text] {
    padding: 6px;
    border: thin solid grey;
    font-size: 16px;
    margin-right: 1px;
}
input[type=text]:active, input[type=text]:focus {
    outline: rgba(50,100,50,0.6) auto 200px !important;
    outline-offset: 20px !important;
}
button, input[type=button] {
    padding: 6px;
    border: thin solid grey;
    cursor: pointer;
    font-size: 16px;
    background: -webkit-linear-gradient(white, #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #ddd); /* Standard syntax */
}
button:hover, input[type=button]:hover {
    background: -webkit-linear-gradient(#ddd, #ccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #ccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #ccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #ccc); /* Standard syntax */
}
button:focus, input[type=button]:active {
    outline: 0px;
}

.metallic {
    background: -webkit-linear-gradient(white, #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #ddd); /* Standard syntax */
    border: 1px solid grey;
    //border-radius: 10px;
}
div.info {
    background: -webkit-linear-gradient(#ffe, #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff9, #ffb); /* Standard syntax */
    border: 1px solid #ee9;
    padding: 5px;
    margin: 5px 0px;
}
#ajax_form {
    width: 499px;
}
#query {
    width: 100%;
    border-collapse: collapse
}
#query td {
    padding: 0px;
}
#query #estab {
    width: calc(100% - 4px);
}
#opcoes {
    width: calc(100% - 2px);
    height:30px;
    margin: 5px 0px;
}
#opcoes > table {  
    height: 100%;
    border-collapse: collapse;
    text-align: center;
}
#opcoes > table td:not(:first-child) {
    border-left: grey solid 1px;
}
#opcoes > table td *{  
    vertical-align: -2px;
    line-height: 27px;
}

.labels {
    color: black;
    background-color: rgba(255,255,255,0.5);
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 22px;
    min-width: 23px;     
    border: 2px solid black;
    border-radius: 10px;
    white-space: nowrap;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    cursor: pointer;
}
#listaRestaurantes .labels {
    display:inline-block;
    background-color: rgba(155,155,255,0.4);
    margin-right:5px;
    vertical-align: -2px;
}
.labels.hover,
#listaRestaurantes .labels.hover {
    background-color: rgba(0,0,0,1);
    color: white;
}
.labels.selecionado,
#listaRestaurantes .labels.selecionado {
    background-color: rgba(255,155,0,0.7) !important;
    color: black !important;
}